.mat-drawer-content {
  overflow: hidden !important;
}
.card {
  padding: 20px;
  background: #ededed;
  height: 520px;
  border-radius: 30px;
  box-shadow: 20px 20px 20px #0000000d;
  max-width: 330px;
  letter-spacing: 0.3px;
}

.card h2 {
  width: 220px;
}

.main {
  top: 70px;
  box-shadow: 20px 20px 20px 0px #0000001c;
  position: relative;
  z-index: 1;
  display: block;
  height: 38%;
  line-height: 1.5;
}

.block {
  padding: 20px;
  background: #d9f3a2;
  width: 290px;
  height: 100px;
  border-radius: 15px;
  transform: skewY(349deg);
}

.block-2 {
  padding: 20px;
  background: #d9f3a2;
  width: 290px;
  height: 169px;
  border-radius: 15px;
  position: relative;
  transform: skewY(5.5deg);
  right: 20px;
  bottom: -19px;
}

.clear {
  transform: skewY(2.3deg);
  width: 250px;
  height: 150px;
  position: absolute;
  top: 0;
  color: #191b1c;
}

.avatar {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -83px;
  border: 8px #d9f3a2 solid;
  box-shadow: 30px 30px 30px -50px;
}

.content {
  color: #505050;
  position: absolute;
  top: 25px;
  height: 170px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.content span {
  border-bottom: 1px black dashed;
}

.content span p {
  margin-top: 7px;
}
